<div class="content_container">

<%= link_to 'New qualification', new_qualification_path(@user) %>
<%= link_to 'New work history', new_history_path(@user) %>
<div id="profile_quals">
<h2 class="h2header">Qualifications</h2>
<table id="user_quals_table" border="0" cellspacing="0" cellpadding="0">
<% for qualification in @profile.qualifications %>
<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
	<td width="160"><h3 class="user_qual_box_body_header"><%= qualification.body.name %></h3></td>
	<td width="40"><h3 class="user_qual_box_level_header"><%= qualification.level.level %></h3></td>
	<td width="220"><h3 class="user_qual_box_tech_header"><%= qualification.technique.name %></h3></td>
	<td width="220"><h3 class="user_qual_box_tech_header"><%= qualification.category.name %></h3></td>
	<td><h3 class="user_qual_box_tech_header">Expires: <%= qualification.expire_date %></td>
	<td><%= link_to 'Edit', edit_qualification_path(qualification) %></td>
  <td><%= link_to 'Destroy', qualification, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end -%>	
</table>
<!-- END #profile_quals --></div>
<div id="work_history">
<h2 class="h2header">Work History</h2>
<% for history in @profile.histories.find(:all, :order => "start ASC") %>
	<div class="history_box">
		<h3><%= history.company %> <span class="history_position"><%= history.position %></span>
				<span class="history_date">From <%= history.start %> To <%= history.end %></span>
				<span><small><%= link_to 'Edit', edit_user_history_path(@user, history) %></small></span>
				<span><small><%= link_to 'Destroy', [@user, history], :confirm => 'Are you sure?', :method => :delete %></small></span></h3>

		<div class="history_description">
			<%= history.description %>
		<!--END .history_description --></div>
		<h4>Equipment</h4>
		<div class="history_description">
			<%= history.equipment %>
		<!-- END .history_description --></div>		
	<!--END .history_box --></div>		
	<% end -%>
<!--END #work_history --></div>
<!-- END .content_container --></div>