<h2 class="h2header">Qualifications</h2> <span class="admin_links"><%= link_to "New qualification", new_user_qualification_path(@user) %></span>
<div class="qualifications_box">

		<table id="user_quals_table", cellspacing="0", border="0", width="870px">
		<% for qualification in @user.qualifications %>
			<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
				<td width=75><%= qualification.body.name %></td>
				<td width=20><%= qualification.level.level %></td>
				<td width=260><%= qualification.technique.name %></td>
				<td width=220><%= qualification.category.name %></td>
				<td width=150><%= qualification.expire_date.strftime(" %d %B %Y") %></td>
				<td width=80>
				<% if qualification.cert.exists? %>
					<%= link_to image_tag(qualification.cert.url(:thumb)), qualification.cert.url(:medium), :class => "top_up", :border => nil %>
				<% end -%>	
				</td>
				<td><span class="admin_links"><%= link_to 'Edit', edit_user_qualification_path(@user, qualification) %> 
				<%= link_to 'Destroy', [@user, qualification], :method => :delete, :confirm => "Are you sure?" %></td>
			</tr>			
		<% end -%>
		</table>	
<!-- END .qualifications_box --></div>		