
<div class="content_container">
<% form_for @user, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
		<div id="user_edit_account_details">
  		<h2>Edit your account details</h2>
			<div class="user_edit_account_details_help">
			Only use this form to change your email or password
			</div>
    	<h3>Your email address:</h3>
    	<%= f.text_field :email, :size => 30 %>
			<h3>Your account password:</h3>
    	<%= f.password_field :password %>
			<h3>Confirm your account password:</h3>
    	<%= f.password_field :password_confirmation %>
  		<p>
    	<%= f.submit 'Update your email or password' %>
  		</p>
		<!-- END #user_edit_account_details --></div>
		
		<div id="user_edit_personal_details">	
			<h2>Edit your personal details</h2>
			<h3>Your full name:</h3>
	    <%= f.text_field :name, :size => 30 %>
	
	    <h3>Upload a clear image of your face:</h3>
			Must be .jpg, .png or .gif file format and less than 1MB
			<%= f.file_field :headshot %>
		
	    <h3>Date of Birth:</h3>
	    <%= f.date_select :dob, :start_year => 1945, :end_year => 2000, :order => [:day, :month, :year] %>
	  
			<h3>Full address:</h3>
	    <%= f.text_area :address %>
	  
	    <h3>PCN number:</h3>
	    <%= f.text_field :pcn_number, :size => 30 %>
	  
	    <h3>Other governing body ID number:</h3>
	    <%= f.text_field :other_body_id, :size => 30 %>
	  
	    <h3>Passport number:</h3>
	    <%= f.text_field :passport_number, :size => 30 %>
	   	
	 		<h3>Passport expiry date:</h3>
	    <%= f.date_select :passport_expires, :start_year => 2009, :end_year => 2030, :order => [:day, :month, :year] %>
	  
	    <h3>Nationality:</h3>
	    <%= f.text_field :nationality, :size => 30 %>
	  
	    <h3>Alternative email:</h3>
	    <%= f.text_field :contact_email, :size => 30 %>
	  
	    <h3>Home phone:</h3>
	    <%= f.text_field :home_phone, :size => 30 %>
	  
	    <h3>Mobile phone:</h3>
	    <%= f.text_field :mobile_phone, :size => 30 %>
			<p>
	    <%= f.submit 'Submit' %>
	  	</p>
		</div>
	<% end %>
	<div class="clear"></div>
	<!-- END .content_container--></div>



