<h2>All candidates</h2>

<% for user in @users %>
  <div class="candidate_index_box">
    candidate id<%= user.id %>
			<ul>
				<% for qualification in user.qualifications %>
					<li><%= qualification.body.name %>
						<%= qualification.level.level %>
					<%= qualification.technique.name %>
					<%= qualification.category.name %>
		Expires: <%= qualification.expire_date %></li>
		<% end -%>
    <% if admin? %>
    <%= link_to 'Show', user %>
    <%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %>
		<% end -%>	
  </div>
<% end %>

