<h2>All candidates</h2>

<% for user in @users %>
  <div class="candidate_index_box">
	Candidate id: <%= user.id %> Industry: 
	<% for history in user.histories %>
    <%= history.sector.name %>,
	<% end -%>	
				<% for qualification in user.qualifications %>
					<table cellspacing=0>
						<tr class="<%= cycle('list-line-odd_user_index', 'list-line-even_user_index') %>">
							<td width=80><%= qualification.body.name %></td>
							<td width=20><%= qualification.level.level %></td>
							<td width=150><%= qualification.technique.name %></td>
							<td width=150><%= qualification.category.name %></td>
							<td><%= qualification.expire_date %></td>
						</tr>
					</table>	
		<% end -%>
    <% if admin? %>
    <%= link_to 'Show', user %>
    <%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %>
		<% end -%>	
  </div>
<% end %>

