<div class="content_container">
	<h3><%= @user.email %></h3>
	<div id="user_nav">
		<% if current_user %>
			<%= link_to "Edit account details", edit_user_path(:current) %>
			<% end -%>
			<%= link_to 'Show', @user.profile %>
			<%= link_to 'Edit your profile', edit_profile_path(:current) %>
			<%= link_to 'Create a profile', new_profile_path %>
	<!-- END #user_nav --></div>
<!-- END .content_container --></div>	
