<% form_for [@user, @history] do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :start %><br />
    <%= f.date_select :start, :discard_day => true, :start_year => 1945, :end_year => 2020, :order => [:day, :month, :year] %>
  </p>
  <p>
    <%= f.label :end %><br />
    <%= f.date_select :end, :discard_day => true, :start_year => 1945, :end_year => 2020, :order => [:day, :month, :year] %>
  </p>
	<p>
		<%= f.label :industry %><br />
		<%= collection_select(:history, :sector_id, Sector.find(:all, :order => "name ASC"), :id, :name) %>
	</p>
	<p>
    <%= f.label :company %><br />
    <%= f.text_field :company, :size => 70 %>
  </p>
  <p>
    <%= f.label :position %><br />
    <%= f.text_field :position, :size => 70 %>
  </p>

  <p>
    Describe your roles and responsibilities:<br />
    <%= f.text_area :description, :cols => 100 %>
  </p>
  <p>
    Please detail the equipment that you used or worked on:<br />
    <%= f.text_area :equipment, :cols => 100 %>
  </p>
  
  <p>
    <%= f.submit 'Create this work history' %>
  </p>
<% end %>
