<h1>New level</h1>

<% form_for(@level) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :level %><br />
    <%= f.text_field :level %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', levels_path %>