<% form_for(:contact, :url => contact_path) do |form| %>
  <p>
    <%= form.label :subject %><br />
    <%= form.text_field :subject %>
  </p>

  <p>
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :email %><br />
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label :body %><br />
    <%= form.text_area :body %>
  </p>

  <p>
    <%= form.submit "Send this message" %>
  </p>
<% end %>
