<div id="nav_bar">
		<ul id="nav">
			<li id="home"<%= " class='selected'" if controller.controller_name == "info" %>>
				 <%= link_to "", :controller => "info" %>
			</li>
			<li id="search"<%= " class='selected'" if controller.controller_name == "users" %>>
				 <%= link_to "", :controller => "users" %>
			</li>
			<li id="profile"><a href=#><span class="hidden">profile</span></a></li>
			<li id="login"><a href=#><span class="hidden">login</span></a></li>
			<li id="contact"><a href=#><span class="hidden">contact</span></a></li>				
		</ul>
		<div id="user_meta">
			<% if current_user %>
				Logged in as <%= current_user.email %>
				<%= link_to "Profile", current_user %>
				<%= link_to "Logout", logout_path %>
			<% else %>	
				<%= link_to "Register", new_user_path %>
				<%= link_to "Login", login_path %>
			<% end -%>
		<!-- END #user_meta--></div>
	<!-- END #nav_bar --></div>