<div id="nav_bar">
		<ul id="nav">
			<li id="home"><%= link_to "", :controller => "info" %></li>
			<li id="search"><%= link_to "", :controller => "users" %></li>
			<li id="profile"><%= link_to "", new_user_path %></li>
			<li id="login"><%= link_to "", login_path %></li>
			<li id="contact"><%= link_to "", :controller => "contact" %></li>
		</ul>
		<div id="user_meta">
			<% if current_user %>
				Logged in as <%= current_user.email %>
				<%= link_to "Profile", current_user %>
				<%= link_to "Logout", logout_path, :id => "logout" %>
			<% end -%>
		<!-- END #user_meta--></div>
	<!-- END #nav_bar --></div>