<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/top_up-min.js"></script>  
  <title>KADAKO Labour CC</title>	
	<%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'styles' %>
</head>
<body>
<div id="container">
	<div id="banner">
		<%= link_to "", root_url %>
	<!-- END #banner --></div>
	<%= render :partial => 'layouts/nav' %>
	<div id="content">	
		<%= render :partial => 'layouts/flash_message' %>
		<%= render :partial => 'layouts/admin_nav' %>
		<%= yield %>
	<!-- END #content --></div>
	<%= render :partial => 'layouts/footer' %>
<!-- END #container --></div>
</body>
</html>
