<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="Content-Language" content="en-us" />
  <meta name="description" content="KADAKO Labour cc is a company providing a labour broker service to 
							qualified inspection personnel in the oil, gas, petrochemical, mining, power generation and aviation 
							industry locally and international." />
  <meta name="author" content="kevin bett for rebelcolony" />
  <meta name="Copyright" content="Copyright &copy; 2010 kadako labour cc" />
  <meta name="keywords" content="oil and gas inspection jobs, inspection jobs, oil and gas jobs, ndt jobs, 
							ndt inspection jobs, ndt labour, ndt labour services " />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/top_up-min.js"></script>  
  <title>KADAKO Labour CC</title>	
	<%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'styles' %>
	<link rel="icon" type="image/ico" href="/favicon.ico" />
</head>
<body>
<div id="container">
	<div id="banner">
		<%= link_to "", root_url %>
	<!-- END #banner --></div>
	<%= render :partial => 'layouts/nav' %>
	<div id="content">	
		<%= render :partial => 'layouts/flash_message' %>
		<%= render :partial => 'layouts/admin_nav' %>
		<%= yield %>
	<!-- END #content --></div>
	<%= render :partial => 'layouts/footer' %>
<!-- END #container --></div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15856249-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
