<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>KADAKO Labour CC</title>
  <%= stylesheet_link_tag 'styles' %>
</head>
<body>
<div id="container">
	<div id="banner">
	<!-- END #banner --></div>
	<div id="nav_bar">
		<ul id="nav">
			<li id="home"<%= " class='selected'" if controller.controller_name == "info" %>>
				 <%= link_to "", :controller => "info" %>
			</li>
			<li id="search"><a href=#><span class="hidden">search</span></a></li>
			<li id="profile"><a href=#><span class="hidden">profile</span></a></li>
			<li id="login"><a href=#><span class="hidden">login</span></a></li>
			<li id="contact"><a href=#><span class="hidden">contact</span></a></li>				
		</ul>
		<div id="user_meta">
			<% if current_user %>
				Logged in as <%= current_user.email %>
				<%= link_to "Edit Profile", edit_user_path(:current) %>
				<%= link_to "Logout", logout_path %>
			<% else %>	
				<%= link_to "Register", new_user_path %>
				<%= link_to "Login", login_path %>
			<% end -%>
		<!-- END #user_meta--></div>
	<!-- END #nav_bar --></div>
	<div id="content">	
		<div id="flash_messages">
			<% unless flash[:notice].blank? %>
				<div id="notification"><%= flash[:notice] %></div>
			<% end -%>
			<% unless flash[:error].blank? %>
				<div id="error"><%= flash[:error] %></div>
			<% end %>
		<!-- END #flash_messages --></div>	
		<%= yield %>
	<!-- END #content --></div>
	<div class="clear"></div>
	<div id="footer">
		<p id="footer_content"><%= link_to "Terms of Service", :controller => "info", :action => "terms" %> | 
			<%= link_to "Contact us", :controller => "info", :action => "terms" %></p>
	<!-- END #footer --></div>
<!-- END #container --></div>
</body>
</html>
